<nav aria-label="Page navigation example container">
  <ul class="pagination d-flex justify-content-center">

    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="onPreviousClick()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    @for (page of pages; track $index) {
    <li class="page-item" [class.active]="page === currentPage">
      <a class="page-link" (click)="onPageClick(page)">{{ page }}</a>
    </li>
    }

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="onNextClick()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>

  </ul>
</nav>
