<main class="d-flex flex-column min-vh-100">

  <app-header></app-header>

  <!-- users cards  -->
  <div
    class="container flex-grow-1 d-flex justify-content-center align-items-center"
  >
    <div class="row justify-content-center mb-5">

      @if(isLoading){
      <div class="d-flex justify-content-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      }

      @if(!isLoading){ @for (user of users; track $index) {
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <app-user-card [user]="user"></app-user-card>
      </div>
      } }
    </div>
  </div>

  <!-- pagination  -->
  <div class="mt-auto">
    <app-pagination
      [totalPages]="total"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
</main>
